{% extends "appLocation/master.html" %}

    {% block title %}
        Detail maison
    {% endblock %}
{% block content %}
    {% include 'appLocation/navbar.html' %}

    {% load static %}


        <section>
   <div class="container mt-5 px-2">

    <div class="mb-2 d-flex justify-content-between align-items-center">

        <div class="position-relative">
            <span class="position-absolute search"><i class="fa fa-search"></i></span>
            <input class="form-control w-100" placeholder="Search by order#, name...">
        </div>

        <div class="px-2">

            <span>Filters <i class="fa fa-angle-down"></i></span>
            <i class="fa fa-ellipsis-h ms-3"></i>
        </div>

    </div>
    <div class="table-responsive">
        <p>

        </p>
    <table class="table table-responsive table-borderless">
      <thead>
        <tr class="bg-dark text-white">
<!--          <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>-->
          <th scope="col" width="5%">#</th>
          <th scope="col" width="20%">Type de maisons</th>
          <th scope="col" width="10%">Status</th>
          <th scope="col" width="20%">Locateur</th>
          <th scope="col" width="20%">Bailleur</th>
          <th scope="col" width="20%">Disponibilite</th>
          <th scope="col" class="text-end" width="20%"><span>Price</span></th>
        </tr>
      </thead>
  <tbody class="parent">
  {% for object in maisons %}
        <tr>
            <!--<th scope="row"><input class="form-check-input" type="checkbox"></th>-->
          <td>{{ object.id }}</td>
          <td>{{ object.type_house | capfirst }}</td>
          <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">{{ object.number_locations }}</span></td>
            <td><span class=" overflow-hidden  rounded-circle overflow-hidden "> <img height="35" class="" src="{{ object.image.url }}"> </span>{{ object.user }}</td>
          <td>{{ object.created_by }}</td>
          <td>{{ object.availability}}</td>
          <td class="text-end"><span class="fw-bolder">{{ object.price |floatformat:2}}fb</span></td>
        </tr>
     {% endfor %}





  </tbody>
</table>

  </div>

</div>


</section>



{% endblock %}
