
{% extends 'appLocation/master.html' %}

    {% block title %}
        Ajout d'un type
    {% endblock %}

     {% load widget_tweaks %}
    {% block content %}
        <h1>Ajouter un payement</h1>
        <form method="post" action="" class="h-auto">
            {% csrf_token %}
             {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger alert-opacity-50 d-flex ">
                                  <p>{{ error }}</p>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger bg-opacity-50 d-flex">
                              <p>{{ error|escape }}</p>
                          </div>
                      {% endfor %}
                  {% endif %}


                        <div class="col-12">
                          <div class="form-floating mb-3 h-auto">
                             {% render_field form.user  id="created_by" class="form-control hidden"   placeholder="user"  %}
                              <label for="user" class="form-label">User</label>
                          </div>
                        </div>


                        <div class="col-12">
                          <div class="form-floating mb-3 h-auto">
                             {% render_field form.created_by  id="created_by" class="form-control"   placeholder="Created by"  %}
                              <label for="created_by" class="form-label">Created_by</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-floating mb-3 h-auto">
                             {% render_field form.amount id="amount"  class="form-control" placeholder="Amount"  %}
                              <label for="amount" class="form-label">Amount</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-floating mb-3 h-auto">
                             {% render_field form.type_payment type="number"  id="type_payement" class="form-control" placeholder="type_payement"  %}
                              <label for="type_payement" class="form-label">Type de payement</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-floating mb-3 h-auto">
                             {% render_field form.date_payment value="request.user" type="datetime-local" id="date_payement" class="form-control" placeholder="Date payement"  %}
                              <label for="date_payement" class="form-label">Date payement</label>
                          </div>
                        </div>


            <button type="submit">Ajouter</button>
        </form>

    {% endblock %}
