{% extends 'appLocation/master.html' %}

    {% block title %}
        Louer la maison
    {% endblock %}
{% load widget_tweaks %}

    {% block content %}
<section class="h-100 w-100 ">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 m-auto my-auto">
            <div class="card border border-light-subtle rounded-3 shadow-sm">
              <div class="card-body p-3 p-md-4 p-xl-5">
                <div class="text-center mb-3">
                    <h1>Louer la maison</h1>

                </div>

                <form action="" method="post" class="h-auto">
                    {% csrf_token %}
                       {%if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger alert-opacity-50 d-flex ">
                                  <p>{{ error }}</p>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger bg-opacity-50 d-flex">
                              <p>{{ error|escape }}</p>
                          </div>
                      {% endfor %}
                    {% endif %}

                        <div class="col-12">
                          <div class="form-floating mb-3 h-auto">
                             {% render_field form.user value="form.user.value" id="house" class="form-control"   placeholder="House"  %}

                            <label for="user" class="form-label bg-opacity-0">Username</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-floating mb-3 h-auto">
                             {% render_field form.house  id="house" class="form-control"   placeholder="House"  %}
                              <label for="house" class="form-label">House</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-floating mb-3 h-auto">
                                {% render_field form.date_begin type="date"  id="datebegin" class+="form-control"  placeholder="Date begin" %}
                            <label for="datebegin" class="form-label">Date begin</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-floating mb-3 h-auto">
                                {% render_field form.date_end type="date"  id="date_end" class+="form-control"  value="" placeholder="Date end" %}
                            <label for="date_end" class="form-label">Date end</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="d-grid d-flex my-3 w-100 gap-3 justify-content-between">
                            <a href="{% url 'houses' %}?next={{ request.path }}" class="btn btn-light border border-primary border-opacity-25 opacity-10 text-primary btn-md w-50" >Quitter</a>
                            <button class="btn btn-primary btn-md w-50" type="submit">Enregistrer</button>

                          </div>
                        </div>
                </form>
              </div>
            </div>
    </div>
</section>



    {% endblock %}
