
{% extends 'appLocation/master.html' %}

    {% block title %}
        Ajout d'un type
    {% endblock %}


    {% block content %}
        <h1>Ajouter un payement</h1>
        <form method="post" style="padding: 0px 20px; space-y:5px">
            {% csrf_token %}
             {%if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger alert-opacity-50 d-flex ">
                                  <p>{{ error }}</p>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger bg-opacity-50 d-flex">
                              <p>{{ error|escape }}</p>
                          </div>
                      {% endfor %}
                  {% endif %}


            {{ form.as_p }}
            <button type="submit">Ajouter</button>
        </form>

    {% endblock %}
