{% extends "appLocation/master.html" %}

    {% block title %}
        Detail maison
    {% endblock %}
    {% block content %}
       <ul>

            <div style="display: flex; justify-content:space-between; padding-right:50px;">
                <h1>Details house</h1>
                <div style="display:flex; align-items: center; gap:20px">
                    <h3>
                         {% if user.is_authenticated %}

                                {{ user.username }}

                        {% endif %}
                    </h3>
                    <p>Logout</p>
                </div>
            </div>
           <ul>
                <i>Maison numero</i>
                <li>Nombre des chambres: {{theHouse.nbrRooms}}</li>
                <li>Superficie de :  {{theHouse.superficies}}m<sup>2</sup></li>
                <li>Quartier: {{theHouse.quarter}}</li>
                <br>
                <li>
                    <a href="{% url 'houses' %}"  style="padding-right:10px">Retourner en arriere</a>
                    <a href="/les-maisons/modifier/{{theHouse.id}} " style="padding-right:10px;padding-left:10px;color: green">Modifier</a>
                    {% if user.is_authenticated %}
                    <form action="" method="post">
                        <input type="submit" value=" Réserver cette maison">
                    </form>
                    <form action="{% url 'delete'  theHouse.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette maison ?');">Supprimer</button>
                    </form>
                    {% else %}
                        <p>Vous devez être connecté pour réserver cette maison. <a href="{% url 'sign_in_user' %}">Connectez-vous</a></p>
                    {% endif %}
                </li>
           </ul>

            <br>
            <br>

        </ul>
    {% endblock %}
