
<!doctype html>

{% load widget_tweaks %}


<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}

            <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
            <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
            <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <title>
            {% block title %} {% endblock %}
        </title>

    </head>
    <body class="">
    <nav>
        <div>

        </div>
    </nav>
        {% block content %}

        {% endblock %}
    </body>
</html>
