{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% load humanize %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5x sticky-top">
  <div class="container px-5">
    <h1>
      <a class="navbar-brand fs-3 fw-bold" href="{% url 'home' %}"
        >{% trans 'Rent-House' %}</a
      >
    </h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == '/' %} active{% endif %}"
            aria-current="page"
            href="{% url 'home' %}"
            >{% trans "Accueil" %}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == '/les-maisons/' %}active{% endif %}"
            href="{% url 'houses' %}"
            >{% trans ' Maisons'%}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == '/mes-reservations/' %}active{% endif %}"
            href="{% url 'mes-reservations' %}"
            >{% trans ' Mes reservations'%}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == '/activites/' %}active{% endif %}"
            href="{% url 'activities' %}"
            >{% trans 'Activites' %}</a
          >
        </li>

        <div class="d-flex align-items-center">
          <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <!-- On récupère l'URL actuelle pour y revenir après le changement -->
    <input name="next" type="hidden" value="{{ request.get_full_path }}">

    <select name="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}

        {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
</form>
        </div>

        <div class="d-flex ps-4 align-items-center justify-content-evenly">
          {% if user.is_authenticated == True %}
          <img
            src="{{ user.image.url }}"
            height="38"
            width="38"
            class="me-2 rounded-5"
          />
          <h3 class="text-warning my-auto">{{ user.name }}</h3>
          <form
            class=""
            action="{% url 'logout' %}?next={{ request.path }}"
            method="post"
          >
            {% csrf_token %}
            <input
              type="submit"
              class="btn bg-danger bg-opacity-75 text-white px-3 ms-3"
              value="Deconnexion"
            />
          </form>
          {% else %}

          <a
            href="{% url 'login' %}?next={{ request.path }}"
            class="btn bg-primary bg-opacity-75 fw-500 text-white px-3 ms-3"
            >{% trans 'Se connecter' %}</a
          >
          {% endif %}
        </div>
      </ul>
    </div>
  </div>
</nav>
