{% extends 'appLocation/master.html' %}

    {% block title %}
       Application de location
    {% endblock %}


    {% block content %}
        {% include 'appLocation/navbar.html' %}
        <h1>Bienvenus sur notre application de location des maisons</h1>
        <p>
           Cette application on la cree juste pour ameliorer les conditions de vie des differentes personnes
           qui cherchent parfois des maisons sans en trouver
        </p>
        <a href="les-maisons">Explorez par ici les maisons disponibles </a>

    {% endblock %}
